@model BookCommentsViewModel

@{
    ViewBag.Title = Model.Book.Name;
    Layout = "_Layout";
}

<div class="card card-outline-primary m-1 p-1">
    @await Html.PartialAsync("BookPartial", Model.Book)
    
    <hr />

    @await Html.PartialAsync("AddCommentPartial", new Comment() { BookId = Model.Book.BookID })

    @await Html.PartialAsync("AllCommentPartial", Model.Comments)
</div>