@model BookViewModel

@{
    Layout = "_Layout";
}

    <h2>
        Редагування книги
    </h2>

<hr />

    <form asp-action="Edit" style="padding:0px;" method="post" class="col-md-6 col-lg-5" enctype="multipart/form-data">
        <input type="hidden" asp-for="BookID" />
        <div class="form-group">
            <label asp-for="Name">Назва книги</label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input asp-for="Name" class="form-control" />
        </div>
       <div>
            <label asp-for="Image">Зображення</label>
            <div><span asp-validation-for="Image" class="text-danger"></span></div>
            <input type="file" asp-for="Image" class="form-control-file border"/>
        </div>
        <div class="form-group">
            <label asp-for="Description">Опис</label>
            <div><span asp-validation-for="Description" class="text-danger"></span></div>
            <input asp-for="Description" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Author">Автор</label>
            <div><span asp-validation-for="Author" class="text-danger"></span></div>
            <input asp-for="Author" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Format">Формат</label>
            <div><span asp-validation-for="Format" class="text-danger"></span></div>
            <input asp-for="Format" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="PublicationDate">Дата публікації</label>
            <div><span asp-validation-for="PublicationDate" class="text-danger"></span></div>
            <input asp-for="PublicationDate" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PublicationType">Тип публікації</label>
            <div><span asp-validation-for="PublicationType" class="text-danger"></span></div>
            <input asp-for="PublicationType" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Binder">Палітурка</label>
            <div><span asp-validation-for="Binder" class="text-danger"></span></div>
            <input asp-for="Binder" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Amount">Обсяг</label>
            <div><span asp-validation-for="Amount" class="text-danger"></span></div>
            <input asp-for="Amount" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Anotation">Анотація</label>
            <div><span asp-validation-for="Anotation" class="text-danger"></span></div>
            <textarea asp-for="Anotation" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="ISBNCode"></label>
            <div><span asp-validation-for="ISBNCode" class="text-danger"></span></div>
            <input asp-for="ISBNCode" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price">Ціна</label>
            <div><span asp-validation-for="Price" class="text-danger"></span></div>
            <input asp-for="Price" class="form-control" />
        </div>
        
        <input type="number" asp-for="Rate" hidden />
        <input type="number" asp-for="RatesAmount" hidden />

        <div>
            <button class="btn btn-outline-dark" type="submit">Зберегти</button>
            <a asp-action="Index" class="btn btn-link">Відмінити</a>
        </div>
    </form>
<hr />