@model IEnumerable<Book>

@{
    Layout = "_Layout";
}

<h2 class="p-1">Всі книги</h2>

<div class="p-1" style="margin-bottom:5px;">
    <a asp-action="Create" style="text-decoration: none;" class="btn btn-sm btn-link">Добавити книгу</a>
</div>

<table class="table table-sm">
    <tr>
        <th>Назва</th>
        <th class="text-right">Ціна</th>
        <th class="text-center">Дії</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td class="text-right">@item.Price.ToString("c")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a style="text-decoration: none;" asp-action="Edit" class="btn btn-sm btn-link"
                       asp-route-bookId="@item.BookID">
                        Редагувати
                    </a>
                    |
                    <input type="hidden" name="BookID" value="@item.BookID" />
                    <button style="text-decoration: none;" type="submit" class="btn btn-sm btn-link">
                        Видалити
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
