@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Скидання пароля, підтвердження";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль скинутий. Будь ласка <a asp-page="./Login">натисніть тут, щоб увійти</a>.
</p>
