@model IEnumerable<Comment>

<hr style="border-width: 2px; border-color: grey;" />
<h3>@Model.Count() коментарів</h3>
<hr style="border-width: 2px; border-color: grey;" />
@foreach (var c in Model.OrderByDescending(c => c.Time))
{
    @await Html.PartialAsync("CommentPartial", c)
    <hr style="border-width: 2px; border-color: grey;" />
}