@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Видалити особисті дані";
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Видалення цих даних призведе до остаточного видалення облікового запису, і його буде неможливо відновити.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
        <div class="form-group">
            <label asp-for="Input.Password">Пароль</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        }
        <button class="btn btn-danger" type="submit">Видалити дані та закрити мій обліковий запис</button>
    </form>
</div>