@page
@model Disable2faModel
@{
    ViewData["Title"] = "Вимкнути двофакторну аутентифікацію (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ця дія вимикає лише 2FA.</strong>
    </p>
    <p>
        Вимкнення 2FA не змінює ключі які використовується в програмах аутентифікації. Якщо ви бажаєте змінити ключ який
        використовується в програмі аутентифікації ви повинні <a asp-page="./ResetAuthenticator">скинути ключі автентифікатора.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Вимкнути 2FA</button>
    </form>
</div>
