@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Створення двофакторних (2FA) кодів відновлення";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Помістіть ці коди в безпечне місце.</strong>
    </p>
    <p>
        Якщо ви втратите пристрій і не маєте коду відновлення, ви втратите доступ до свого облікового запису.
    </p>
    <p>
        Створення нових кодів відновлення не змінює ключі, що використовуються в програмах автентифікатора. Якщо ви бажаєте змінити ключ
        використовується в програмі аутентифікації, ви повинні <a asp-page="./ResetAuthenticator">скинути ключі автентифікатора.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Створити коди відновлення</button>
    </form>
</div>