@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Скинути ключ аутентифікації";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Якщо скинути ключ аутентифікації, програма автентифікатора не працюватиме, доки ви не налаштуєте її.</strong>
    </p>
    <p>
        Цей процес вимикає 2FA, доки ви не підтвердите свою програму автентифікації.
        Якщо ви не завершите налаштування програми автентифікації, ви можете втратити доступ до свого облікового запису.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Скинути ключ аутентифікації</button>
    </form>
</div>